<header>
    <div id="SeccionLogo">
        <a href="./">
            <img src="/Imagenes/Icono.png" alt="">
            <h1 id="TituloLogo">SensorUAM</h1>
        </a>
    </div>
    <div id="Secciones">
        <a href="./Edificios" >Edificios</a>
        <a href="./Departamentos" >Departamentos</a>
        <a href="./Espacios" >Espacios</a>
    </div>
</header>