<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador</title>
</head>

<body onload="obtenerDatosEntrada()">
    <h1>Simulador de Sensores</h1>

    <h2>Selecciona un espacio</h2>
    <select id="idEspacio">
        <option value="0" selected>Selecciona un Espacio</option>
    </select>
    <div id="seccion_nodos"></div>
</body>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/Scripts/Simulador/main.js"></script>

</html>